<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Level</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.level %></td>
  </tr>
<% end %>
</table>

<br />
