<div class="span9">
<table id="gifts" class="datatable table table-hover table-bordered" data-source="<%= gifts_url(format: "json") %>">
  <thead>
    <tr>
      <th class="gift_id" rowspan="1">ID</th>
      <th class="gift_id" rowspan="1">User Name</th>
      <th class="gift_id" rowspan="1">Item Name</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
