<div class="page-header">
  <h4>Send A Gift</h4>
</div>

<%= render "form", gift: @gift %>
<hr>

<div class="page-header">
  <h4>Datatable Based Gift History</h4>
</div>

<div id="gifts_list">
  <%= render "gift_list" %>
</div>
<hr />

