<div class="page-header">
  <h4>Send A Gift</h4>
</div>

<%= render "form", gift: Gift.new %>
<hr>

<div class="page-header">
  <h4>Datatable Based Gift History</h4>
</div>

<div id="gifts_list">
  <%= render "datatables/table", model: :gift %>
</div>
<hr />

